html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
    font-family: 'Lato', sans-serif;
    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 500px;
    margin: auto;
}